<h1 class="text-center">{{titulo}}</h1>

<div class="container">
    <form>
      Nombre: <input type="text" name="nombre" id="" [(ngModel)]="nombre"><br>
      <br>
      Apellido: <input type="text" name="apellido" id="" [(ngModel)]="apellido"><br>
      <br>
      Cargo: <input type="text" name="cargo" id="" [(ngModel)]="cargo"><br>
      <br>
      <input type="submit" value="Registrar" (click)="registrarUsuario()">

    </form>
    <hr>
    <p *ngIf="registrado; else sinRegistrar">
      {{mensaje}} <br>
      <span>Nombre: {{nombre}}</span>
      <br>
      <span>Apellido: {{apellido}}</span>
      <br>
      <span>Cargo: <span [ngClass]="{paraDirectores: cargo=='Director' || cargo=='director'}">{{cargo}}</span></span>
    </p>
    <ng-template #sinRegistrar>
      <p>Nadie registrado</p>
    </ng-template>
</div>
<br>

<div>
<ul>
  <li *ngFor="let entrada of entradas; let i=index">
    Entrada {{i+1}}: {{entrada.titulo}}
  </li>
</ul>
</div>

<br>

